# CH9120 ethernet driver options

# SPDX-License-Identifier: Apache-2.0

menuconfig ETH_CH9120
	bool "ch9120 ethernet driver"
	depends on DT_HAS_WCH_CH9120_ENABLED
	depends on UART_INTERRUPT_DRIVEN
	select NET_SOCKETS_OFFLOAD
	help
	  This offloads ethernet driver to ch9120 chip

if ETH_CH9120
config ETH_CH9120_LOCAL_IP
    string "CH9120 local IP address"
    default "192.168.1.100"
    help
      Local IP address for the CH9120 chip.

config ETH_CH9120_SUBNET_MASK
    string "CH9120 subnet mask"
    default "255.255.255.0"
    help
      Subnet mask for the CH9120 chip.

config ETH_CH9120_GATEWAY
    string "CH9120 gateway"
    default "192.168.1.1"
    help
      Gateway IP address for the CH9120 chip.

config ETH_CH9120_LOCAL_PORT
    int "CH9120 local port"
    default 1000
    range 1 65535
    help
      Local port number for the CH9120 chip.
endif # ETH_CH9120